@model Do_An_Chuyen_Nganh.Models.Product

@{
    ViewData["Title"] = "Details";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function() {
        toggleChat('@Model.UserId');
    });
</script>
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    @*<div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="~/LayoutUser/clients/img/product/details/product-details-1.jpg" alt="">
                    </div>
                    <div class="product__details__pic__slider owl-carousel">
                        <img data-imgbigurl="~/LayoutUser/clients/img/product/details/product-details-2.jpg"
                             src="~/LayoutUser/clients/img/product/details/thumb-1.jpg" alt="">
                        <img data-imgbigurl="~/LayoutUser/clients/img/product/details/product-details-3.jpg"
                             src="~/LayoutUser/clients/img/product/details/thumb-2.jpg" alt="">
                        <img data-imgbigurl="~/LayoutUser/clients/img/product/details/product-details-5.jpg"
                             src="~/LayoutUser/clients/img/product/details/thumb-3.jpg" alt="">
                        <img data-imgbigurl="~/LayoutUser/clients/img/product/details/product-details-4.jpg"
                             src="~/LayoutUser/clients/img/product/details/thumb-4.jpg" alt="">
                    </div>*@
                    

                    @if (Model.Images.Any())
                    {
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                             src="@Url.Content("~/images/" + Model.Images.First().ImagePath)"
                             alt="Product Image">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            @foreach (var image in Model.Images)
                            {
                                <img data-imgbigurl="@Url.Content("~/images/" + image.ImagePath)"
                             src="@Url.Content("~/images/" + image.ImagePath)"
                             alt="Product Thumbnail">
                            }
                        </div>
                    }

                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>@Model.Title</h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(18 reviews)</span>
                    </div>
@*                    <div class="product__details__price">@Model.Price</div>
*@                    <div class="product__details__price">@string.Format("{0:N0}", Model.Price)<span>đ</span></div>
                  
                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="text" value="1">
                            </div>
                        </div>
                    </div>
                    <div class="primary-btn add-to-cart" data-product-id="@Model.Id"><a href="#">ADD TO CARD</a></div>
                    @*<a href="#" class="primary-btn">ADD TO CARD</a>*@
                  
                   @* <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>*@

                    <a href="#" class="heart-icon" onclick="addToWishList(@Model.Id)">
                        <span class="icon_heart_alt"></span>
                    </a>

                    <!--Start-Chat-->
                    <div class="user-card">
                        <div class="user-card-body">
                            <img src="https://cdn.chotot.com/uac2/9998575" alt="Avatar" class="user-avatar">
                            <div class="user-info">
                                <div class="user-name">Người Đăng:<b> @Model.UserName</b></div>
                            </div>
                            <div class="user-actions">
                                <button type="button" class="btn btn-light">Xem trang</button>
                            </div>
                        </div>
                        <div class="user-rating">
                            <img src="https://static.chotot.com/storage/marketplace/common/pf_rating_active_icon.svg" alt="rating-star">
                            <img src="https://static.chotot.com/storage/marketplace/common/pf_rating_active_icon.svg" alt="rating-star">
                            <img src="https://static.chotot.com/storage/marketplace/common/pf_rating_active_icon.svg" alt="rating-star">
                            <img src="https://static.chotot.com/storage/marketplace/common/pf_rating_half_active_icon.svg" alt="rating-star">
                            <img src="https://static.chotot.com/storage/marketplace/common/pf_rating_disable_icon.svg" alt="rating-star">
                            <strong>3.9</strong>
                            <a href="https://www.chotot.com/user/8b68a47725e42ff1902b1f92150a1916/chi-tiet-danh-gia#xtatc=INT-10-[Adview]">(15 đánh giá)</a>
                        </div>
                        <div class="user-status">Hoạt động 9 giờ trước</div>
                        <div class="">
                            <button class="btn btn-success" style="width: 100%;" onclick="toggleChat('@Model.UserId')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
                                    <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0m4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                    <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2" />
                                </svg>
                                <span>Chat với người bán</span>
                            </button>
                        </div>
                    </div>
                    <!--End-Chat-->
                    <div class="chat-window" id="chatWindow">
                        <div class="chat-header">
                            <h5>@Model.UserName</h5>
                            <input id="userInput" value="@Model.UserId" type="hidden" />
                            <button class="btn" onclick="toggleChat('@Model.UserId', '@User.Identity.Name')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                                </svg>
                            </button>
                        </div>
                        <div class="chat-body">
                            <!-- Những tin nhắn trò chuyện sẽ được hiển thị ở đây -->
                            <ul id="messagesList"></ul>
                        </div>
                        <div class="chat-input">
                            <input type="text" id="messageInput" placeholder="Nhập tin nhắn...">
                            <button id="sendButton">Gửi</button>
                        </div>
                    </div>
                   
                    <ul>
                        <li><b>Màu</b> <span>@Model.Color.ColorName</span></li>
                        <li><b>Tình Trạng</b> <span>@Model.Condition.ConditionName</span></li>
                        <li><b>Bảo Hành</b> <span>@Model.Warranty.WarrantyName</span></li>
                        <li><b>Nguồn Gốc</b> <span>@Model.Provenience.ProvenienceName</span></li>
                        <li><b>Địa chỉ</b> <span>@Model.Address</span></li>
                        <li>
                            <b>Cộng đồng</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                               aria-selected="true">Mô tả</a>
                        </li>
                       @* <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                               aria-selected="false">Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                               aria-selected="false">Reviews <span>(1)</span></a>
                        </li>*@
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>@Model.Title</h6>
                                <p>@Model.Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->
<script>
    var senderId = "@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value";
    var receiverId = "@Model.UserId";
    //$(document).ready(function () {
    //    $('.add-to-cart').click(function (e) {
    //        e.preventDefault();
    //        var productId = $(this).data('product-id');
    //        var quantity = 1;
    //        $.ajax({
    //            url: '/Cart/AddToCart',
    //            type: 'POST',
    //            data: { productId: productId, quantity: quantity },
    //            success: function (data) {
    //                alert("Thêm thành công");
    //                // Thực hiện các thay đổi trên giao diện để hiển thị giỏ hàng mới nhất
    //            },
    //            error: function () {
    //                alert('An error occurred while adding to cart.');
    //            }
    //        });
    //    });
    //});


    $(document).ready(function () {
        $('.add-to-cart').click(function (e) {
            e.preventDefault();
            var productId = $(this).data('product-id');
            var quantity = 1;

            // Kiểm tra trạng thái đăng nhập và thêm vào giỏ hàng
            checkLoginAndAddToCart(productId, quantity);
        });

        function checkLoginAndAddToCart(productId, quantity) {
            $.ajax({
                url: '/Products/CheckLoginStatus',  // Thay đổi đường dẫn này đến action kiểm tra đăng nhập của bạn
                type: 'GET',
                success: function (isLoggedIn) {
                    if (isLoggedIn) {
                        // Nếu đã đăng nhập, thực hiện thêm vào giỏ hàng
                        $.ajax({
                            url: '/Cart/AddToCart',
                            type: 'POST',
                            data: { productId: productId, quantity: quantity },
                            success: function (data) {
                                alert("Thêm thành công");
                                // Thực hiện các thay đổi trên giao diện để hiển thị giỏ hàng mới nhất
                            },
                            error: function () {
                                alert('An error occurred while adding to cart.');
                            }
                        });
                    } else {
                        // Nếu chưa đăng nhập, chuyển hướng đến trang đăng nhập
                        window.location.href = '/Identity/Account/Login';  // Thay đổi đường dẫn này đến trang đăng nhập của bạn
                    }
                },
                error: function () {
                    alert('An error occurred while checking login status.');
                }
            });
        }
    });


    function addToWishList(productId) {
        $.ajax({
            type: 'POST',
            url: '/WishList/AddToWishList',
            data: { productId: productId },
            success: function (data) {
                if (data.success) {
                    // Xử lý thành công
                    alert(data.message);
                } else {
                    // Xử lý lỗi hoặc thông báo
                    alert(data.message);
                }
            }
        });
    }

    function toggleChat(receiverId, senderId) {
        var chatWindow = document.getElementById('chatWindow');
        chatWindow.classList.toggle('open');

        if (chatWindow.classList.contains('open')) {
            // Connect to SignalR with receiver ID
            connection.invoke("AddToGroup", receiverId);
        } else {
            // Disconnect or perform any cleanup
            connection.invoke("RemoveFromGroup", receiverId);
        }
    }

    function formatPrice() {
        // Định dạng giá cả với dấu phẩy
        $('.product__details__price').each(function () {
            var price = $(this).text();
            var formattedPrice = parseFloat(price.replace(/,/g, '')).toLocaleString('en-US');
            $(this).text(formattedPrice);
        });
    }

</script>
<style>
    .product__details__pic__slider img {
        width: 100px; /* Đặt chiều rộng theo ý muốn */
        height: 100px; /* Đặt chiều cao theo ý muốn */
        object-fit: cover; /* Đảm bảo hình ảnh không bị méo */
    }

    .product__details__pic__item img {
        width: 500px; /* Sử dụng chiều rộng 100% để hình ảnh che phủ phần chứa */
        height: auto; /* Chiều cao tự động, giữ nguyên tỷ lệ khía cạnh */
        object-fit: cover; /* Đảm bảo hình ảnh không bị méo */
    }

    .user-card {
        width: 330px;
        margin: 20px;
        border: 1px solid #ced4da;
        border-radius: 10px;
        overflow: hidden;
    }

    .user-card-body {
        padding: 20px;
        display: flex;
        /* Use flexbox for the container */
        align-items: center;
        /* Center items vertically */
        justify-content: space-between;
        /* Distribute items evenly */
    }

    .user-avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
        /* Add margin for spacing */
    }

    .user-info {
        text-align: center;
    }

    .user-name {
        font-size: 1.2em;
    }

    .user-rating {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .user-rating img {
            width: 13px;
            margin-right: 3px;
    }

    .user-rating strong {
            margin-right: 3px;
    }

    .user-status {
        text-align: center;
        margin-top: 10px;
        color: #6c757d;
    }

    .user-actions {
        margin-top: 10px;
    }

    .btn-primary,
    .btn-success {
        width: auto;
        /* Auto width for the button */
    }

    .chat-window {
        position: fixed;
        bottom: 0;
        right: 20px;
        width: 300px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: none;
        flex-direction: column;
    }

        .chat-window.open {
            height:450px;
            display: flex;
        }

    .chat-header {
        background-color: #007bff;
        color: #fff;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .close-chat {
        background: none;
        border: none;
        color: #fff;
        cursor: pointer;
    }

    .chat-body {
        overflow-y: auto;
        padding: 10px;
        flex-grow: 1;
    }

    .chat-input {
        display: flex;
        align-items: center;
        padding: 10px;
        border-top: 1px solid #ccc;
    }

        .chat-input input {
            flex-grow: 1;
            margin-right: 10px;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .chat-input button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 8px 12px;
            border-radius: 4px;
            cursor: pointer;
        }

</style>

@section scripts{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/chat.js"></script>
}