<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-BEBtEc9v2C+VdyQHwCpnhzm2fN/uFq6T8FQNNOZXdUTrA+X/D3SEzF/CtCSlKL0pFbdVSf">


    <!-- Css Styles -->
    <link rel="stylesheet" href="~/LayoutUser/clients/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/LayoutUser/clients/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/LayoutUser/clients/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/LayoutUser/clients/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/LayoutUser/clients/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/LayoutUser/clients/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/LayoutUser/clients/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/LayoutUser/clients/css/style.css" type="text/css">
    <script src="~/LayoutUser/clients/js/jquery-3.3.1.min.js"></script>
    <script src="~/LayoutUser/clients/js/bootstrap.min.js"></script>
    <style>
        /* Style for the dropdown menu */
        .header__menu .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: beige;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .header__menu .dropdown:hover .dropdown-menu {
            display: block;
        }

        /* Style for dropdown items */
        .header__menu .dropdown-menu a {
            display: block;
            color: black;
            padding: 10px;
            text-decoration: none;
        }

        /* Style for the "Đăng Tin" button */
        .header__menu .create-post-button {
            background: #f80;
            color: #fff;
            border: none;
            cursor: pointer;
            font-weight: 400;
            text-decoration: none;
            padding: 8px 20px;
            text-transform: uppercase;
            font-weight: bold;
            border-radius: 5px;
        }
        /* Style for the chat notification */

      /* .nav-item.dropdown:hover .dropdown-menu {
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: beige;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }*/

        /* Ẩn dropdown mặc định */
        .nav-item.dropdown .dropdown-menu {
            display: none;
        }

        /* Style cho dropdown items */
        .nav-item.dropdown .dropdown-menu a {
            display: block;
            color: black;
            padding: 10px;
            text-decoration: none;
        }

        /* Bổ sung margin để giữ nguyên vị trí của biểu tượng khác */
        .navbar-nav .nav-item {
            margin-right: 10px; /* Điều chỉnh margin theo ý bạn */
        }
    </style>


</head>

<body>
    <div class="wrapper">
        <header>
            <div class="header">
                <div class="header__top">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6" style="line-height:40px">
                                <div class="header__top__left">
                                    <ul>
                                        <li><i class="fa fa-envelope"></i> vinhoainam0815@gmail.com</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="row header__top__right">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="header__top__right__language">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="header__top__right__auth d-flex align-items-center" style="line-height:40px">
                                            @Html.Partial("_LoginPartial")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="header__logo">
                                <a href="./index.html"><img src="~/LayoutUser/clients/img/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-6 text-center">
                            <nav class="header__menu">
                                <ul>
                                    <li class="active"><a href="/Home/Index">Trang Chủ</a></li>
                                    <li class="dropdown">
                                        <a href="/Products/UserPosts">Quản Lí Tin</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/Order/ManagePost">Đơn Bán</a></li>
                                            <li><a href="/Order/OrderedPost">Đơn Mua</a></li>
                                        </ul>
                                    </li>
                                    <li><button class="create-post-button" onclick="location.href='/Products/Create'">Đăng Tin</button></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-3">
                            <div class="header__cart">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a href="@Url.Action("Chat","Message")" class="nav-link">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
                                                <path fill="#000000" d="M256.6 8C116.5 8 8 110.3 8 248.6c0 72.3 29.7 134.8 78.1 177.9 8.4 7.5 6.6 11.9 8.1 58.2A19.9 19.9 0 0 0 122 502.3c52.9-23.3 53.6-25.1 62.6-22.7C337.9 521.8 504 423.7 504 248.6 504 110.3 396.6 8 256.6 8zm149.2 185.1l-73 115.6a37.4 37.4 0 0 1 -53.9 9.9l-58.1-43.5a15 15 0 0 0 -18 0l-78.4 59.4c-10.5 7.9-24.2-4.6-17.1-15.7l73-115.6a37.4 37.4 0 0 1 53.9-9.9l58.1 43.5a15 15 0 0 0 18 0l78.4-59.4c10.4-8 24.1 4.5 17.1 15.6z" />
                                                <span>...</span>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="nav-item"><a href="@Url.Action("WishList","WishList")" class="nav-link"><i class="fa fa-heart"></i></a></li>
                                    <li class="nav-item"><a href="@Url.Action("Index","Cart")" class="nav-link"><i class="fa fa-shopping-bag"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="humberger__open">
                        <i class="fa fa-bars"></i>
                    </div>
                </div>
                <section class="hero hero-normal">
                    <div class="container">
                        <div class="row">
                            @await Component.InvokeAsync("HeroSection")
                            <div class="col-lg-9">
                                <div class="hero__search">
                                    <div class="hero__search__form">
                                        <form asp-action="Search" asp-controller="Products">
                                            <input type="text" name="keywords" placeholder="Chào bạn, bạn cần gì?">
                                            <button type="submit" class="site-btn">TÌM KIẾM</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </header>
    </div>
      
     @RenderBody()
    
    <footer>
        <div class="footer spad" style="margin-top: 20px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer__about">
                            <div class="footer__about__logo">
                                <a href="./index.html"><img src="~/LayoutUser/clients/img/logo.png" alt=""></a>
                            </div>
                            <ul>
                                <li>Địa chỉ: 475A Điện Biên Phủ</li>
                                <li>Điện Thoại: 032.6565.400</li>
                                <li>Email: vinhoainam0815@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                        <div class="footer__widget">
                            <h6>Hỗ trợ</h6>
                            <ul>
                                <li><a href="#">Về Chúng TÔi</a></li>
                                <li><a href="#">Chính Sách</a></li>
                                <li><a href="#">Liên Hệ</a></li>
                                <li><a href="#">Nguồn Gốc</a></li>
                                <li><a href="#">Thẻ</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Khuyến Mãi</a></li>
                                <li><a href="#">Ưu Đãi</a></li>
                                <li><a href="#">Dự Án</a></li>
                                <li><a href="#">Dịch Vụ</a></li>
                                <li><a href="#">Nghề Nghiệp</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="footer__widget">
                            <h6>Tham gia bản tin của chúng tôi ngay bây giờ</h6>
                            <p>Nhận thông tin cập nhật qua Email về cửa hàng mới nhất của chúng tôi và các ưu đãi đặc biệt.</p>
                            <form action="#">
                                <input type="text" placeholder="Nhập email của bạn">
                                <button type="submit" class="site-btn">Đăng Ký</button>
                            </form>
                            <div class="footer__widget__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer__copyright">
                            <div class="footer__copyright__text">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#" target="_blank">lucnamthu</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                            <div class="footer__copyright__payment"><img src="~/LayoutUser/clients/img/payment-item.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/LayoutUser/clients/js/jquery.nice-select.min.js"></script>
    <script src="~/LayoutUser/clients/js/jquery-ui.min.js"></script>
    <script src="~/LayoutUser/clients/js/jquery.slicknav.js"></script>
    <script src="~/LayoutUser/clients/js/mixitup.min.js"></script>
    <script src="~/LayoutUser/clients/js/owl.carousel.min.js"></script>
    <script src="~/LayoutUser/clients/js/main.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var notificationDropdown = document.getElementById("notificationDropdown");
            var isDropdownVisible = false;

            notificationDropdown.addEventListener("click", function (event) {
                event.stopPropagation();

                if (isDropdownVisible) {
                    notificationDropdown.querySelector('.dropdown-menu').classList.remove("show");
                } else {
                    notificationDropdown.querySelector('.dropdown-menu').classList.add("show");
                }

                isDropdownVisible = !isDropdownVisible;
            });

            window.addEventListener("click", function (event) {
                if (!event.target.closest('.nav-item.dropdown')) {
                    if (isDropdownVisible) {
                        notificationDropdown.querySelector('.dropdown-menu').classList.remove("show");
                        isDropdownVisible = false;
                    }
                }
            });
        });
    </script>
</body>
</html>
