
@model List<Do_An_Chuyen_Nganh.Models.OrderDetail>
@using Do_An_Chuyen_Nganh.Models.Enums


<div class="container" style="height:50vh; overflow-y: scroll;">
    <h3 class="title" style="text-align:center;margin: 10px 0 30px 0;">
        Đơn Bán
    </h3>
    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        STT
                    </th>
                    <th>
                        Code
                    </th>
                    <th>
                        Sản phẩm
                    </th>
                    <th>
                        Số lượng
                    </th>
                    <th>
                        Giá
                    </th>
                    <th>
                        Tên khách hàng
                    </th>
                    <th>
                        Địa chỉ
                    </th>
                    <th>
                        TÌnh trạng đơn
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var orderDetail in Model)
                {
                    var orderIndex = Model.IndexOf(orderDetail) + 1;
                    <tr>
                        <td>
                            @orderIndex
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => orderDetail.Order.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => orderDetail.Product.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => orderDetail.Quantity)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => orderDetail.Price)*@
                            @Html.Raw(string.Format("{0:N0}", orderDetail.Price))


                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => orderDetail.Order.CustomerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => orderDetail.Order.Address)
                        </td>
                        <td class="change-status-btn" data-order-detail-id="@orderDetail.Id">
                            <button type="button" class="btn @(orderDetail.Status == OrderStatus.ĐangXửLý ? "btn-warning" : (orderDetail.Status == OrderStatus.ĐangVậnChuyển ? "btn-info" : (orderDetail.Status == OrderStatus.ĐãGiao ? "btn-success" : "")))">
                                @Html.DisplayFor(modelItem => orderDetail.Status)
                            </button>
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="col-12 text-center">
            <h3 style="center">Sản phảm bạn hiện tại chưa có đơn hàng nào.</h3>
        </div>
    }

</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".change-status-btn").click(function () {
                var orderDetailId = $(this).data("order-detail-id");
                var $clickedElement = $(this);

                // Kiểm tra xem button có màu vàng không
                if ($clickedElement.find("button").hasClass("btn-warning")) {
                    $.ajax({
                        type: "POST",
                        url: "/Order/UpdateOrderStatus",
                        data: { orderDetailId: orderDetailId, newStatus: "ĐangVậnChuyển" },
                        success: function (result) {
                            if (result.success) {
                                // Thay đổi màu và văn bản của button tùy thuộc vào trạng thái hiện tại
                                $clickedElement.find("button").removeClass("btn-warning").addClass("btn-info");
                                $clickedElement.find("button").text("Đang Vận Chuyển");
                            } else {
                                alert("Đã xảy ra lỗi khi cập nhật đơn hàng.");
                            }
                        },
                        error: function () {
                            alert("Đã xảy ra lỗi khi cập nhật đơn hàng.");
                        }
                    });
                }
            });
        });
    </script>
}



